<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Travel planner</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h2 id="heading1">My Travel App</h2>

    <div id="rcorners1">
        <label for="zip">Enter Zipcode  </label>
        <input type="text" id="zip" placeholder="enter zip code here">
        <br>
        <br>
        <label for="city">Enter city name here</label>
        <input type="text" id="city" placeholder="enter city name here">
        <br>
        <br>
        <label for="tdate">Enter Date of travelling</label>
        <input type="date" id="tdate" placeholder="enter Date of travelling">
        <br>
        <br>
        <label for="edate">Enter End Date of travelling</label>
        <input type="date" id="edate" placeholder="Enter trip end date">
        <br>
        <br>

        <button id="generate" type="submit"> Generate </button>
        <br>


    </div>

    <div>

        <h3 id="heading2">My Travel plan </h3>
        <section id="left"></section>
        <section id="right"></section>

    </div>



    <script src="app.js" type="text/javascript"></script>

</body>

</html>